<!DOCTYPE html>
<html>
  <head>
    <!-- This is an example of an HTML comment.  It does not affect the page in any other way, but it helps us to understanding coders' intent -->
    <title><%= title %></title> <!-- There is a variable title placeholder here-->
    
    <!-- The next lines allow us to link to Bootstrap tools and use those classes for the rest of our page -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <!-- The next line is a link to an external stylesheet in our project -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <!-- starts our main navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- The next three lines set up our logo with a link to the home page/view -->
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="LOGO" width="60" height="40">
        </a>
        <!-- The next lines set up a button to display our navigation options when the screen is smaller -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- This starts the content for the navigation bar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- We create an unordered list of navigation links/items.  The first one is a home link -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link-active" aria-current="page" href="/"> Home </a>
            </li>
            <!-- We will need to add a submenu for customer information and entry -->
            <li class="nav-item dropdown">
              <!-- Set up "title" for dropdown menu section -->
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Customer
              </a>
              <!-- Set up options for dropdown section--> <!-- href links are temporary placeholders here-->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> Add </a></li> <!-- First dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> Update </a></li> <!-- Second dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> Delete </a></li> <!-- Third dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> List all </a></li> <!-- Fourth dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> Search </a></li> <!-- Last dropdown item-->
              </ul>
            </li>
            <!-- We will also need to add a submenu for employee information and entry -->
            <li class="nav-item dropdown">
              <!-- Set up employee "title" for dropdown menu section -->
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Employee
              </a>
              <!-- Set up options for dropdown section--> <!-- href links are temporary placeholders here-->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> Add </a></li> <!-- First dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> Update </a></li> <!-- Second dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> Delete </a></li> <!-- Third dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> List all </a></li> <!-- Fourth dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> List by ID </a></li> <!-- Fifth dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> Search </a></li> <!-- Sixth dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="#"> Office List All </a></li> <!-- Last dropdown item-->
              </ul>
            </li>
            <!-- We may need to add a submenu for product information and entry -->
            <!-- We will need to add an About Us submenu-->
            <!-- Link for registration (Placeholder for now)-->
            <li class="nav-item">
              <a class="nav-link-active" aria-current="page" href="#"> Register </a>
            </li>
            <!-- Link for login (Placeholder for now)-->
            <li class="nav-item">
              <a class="nav-link-active" aria-current="page" href="#"> Login </a>
            </li>
          </ul>
        </div> <!-- closes the collapse/navbar-collapse navbar content -->
      </div> <!-- closes our container-fluid section -->
    </nav>
    <!-- Sets up a welcome message.  We'll talk about the title variable placeholder next week. -->
    <h1 class="text-center">  Register </h1>
    <p class="text-center"> Welcome to <%= title %></p>
  </body>
</html>
